.modal-container {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background-color: #fff;
  border-radius: 5px;
  width: 25%;
  padding: 20px;
  min-height: 250px;
}
