.suggesstions-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  padding: 20px;
  width: 250px;
}

.suggesstions-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.suggestions-info {
  font-size: 12px;
}

.suggesstions-user {
  font-size: 12px;
}
