@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --primary-color: #1ea7fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app,
html {
  height: 100vh;
}

body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  height: 100%;
  background-color: rgb(61, 61, 61);
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  margin: 30px 30px 0px 30px;
  box-sizing: border-box;
}

input {
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  border-color: rgba(51, 51, 51, 0.377);
}

.loader {
  position: relative;
  height: 100%;
}

.loader-icon {
  position: absolute;
  top: 45%;
  left: 45%;
  animation: spin 4s linear infinite;
  color: var(--primary-color);
}
.error-text {
  color: red;
  font-size: 12px;
}

.icon-button {
  cursor: pointer;
  color: var(--primary-color);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
